<section class="ud-about" id="about">
    <div class="container">
        <div class="ud-about-wrapper wow fadeInUp" data-wow-delay=".2s">
            <div class="ud-about-content-wrapper">
                <div class="ud-about-content">
                    <!-- <span class="tag">About Us</span> -->
                    <h2>Human (for now) curated links about various subjects.</h2>
                    <p>
                        Our media monitoring services surveys that daily output of
                        reputable publishing organizations, news outlets and interesting
                        individuals, to gather valuable and current information.
                    </p>

                    <p>
                        We select various data rich content and filter them based on
                        categories that are in interest of our organization. The articles
                        are also tagged to provide further information about the content.
                    </p>
                    <a href="javascript:void(0)" class="ud-main-btn">Learn More</a>
                </div>
            </div>
            <div class="ud-about-image">
                <img src="assets/images/about/about-image.svg" alt="about-image"/>
            </div>
        </div>
    </div>
</section>
