{% extends '_base.jinja' %}

{% block content %}
    <!-- ====== Hero Start ====== -->
    {% include '_hero.jinja' %}
    <!-- ====== Hero End ====== -->

    <!-- ====== Features Start ====== -->
    {% include '_features.jinja' %}
    <!-- ====== Features End ====== -->

    <!-- ====== About Start ====== -->
    {% include '_about.jinja' %}
    <!-- ====== About End ====== -->

    <!-- ====== Pricing Start ====== -->
    {% include '_pricing.jinja' %}
    <!-- ====== Pricing End ====== -->

    <!-- ====== FAQ Start ====== -->
    {% include '_faq.jinja' %}
    <!-- ====== FAQ End ====== -->

    <!-- ====== Contact Start ====== -->
    {% include '_contact.jinja' %}
    <!-- ====== Contact End ====== -->
{% endblock %}