<div class="sidebar" data-color="info" data-background-color="white">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
    <div class="sidebar-wrapper" data-color="blue">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
                LL
            </a>
            <a href="{{ url_for('home') }}" class="simple-text logo-normal">
                LinkLibrary
            </a>
        </div>
        <ul class="nav">

            {% set icons = { "dashboard":"chart-pie-36", "notifications":"bell-55", "profile":"single-02",
            "list":"align-left-2"} %}

            {% for menu in icons.keys() %}
                <li class="{% if request.url_rule.endpoint == menu %}active{% endif %}">
                    <a href="{{ url_for('list_of_docs' if menu == 'list' else menu) }}">
                        <i class="tim-icons icon-{{ icons[menu] }}"></i>
                        <p>{{ menu|capitalize }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>